{% load static %}
{% load compress %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block 'title' %}{% endblock 'title' %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  {% compress css %}
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  {% endcompress %}

  <!-- =======================================================
  * Template Name: Arsha
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="{% url 'home:home' %}">Shopifya</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="{% url 'home:home' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'home:home' %}#about">About</a></li>
          <li><a class="nav-link scrollto" href="{% url 'blog:blog_home' %}">Goods</a></li>
          <li><a class="nav-link scrollto" href="{% url 'home:home' %}#team">Team</a></li>
          <li><a class="nav-link scrollto" href="{% url 'home:home' %}#contact">Contact</a></li>
          {% if request.user.is_authenticated %}
          <style>
            .avatar {
              vertical-align: middle;
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
          </style>
          <li><a class="nav-link scrollto" href="{% url 'password_change' %}">Change password</a></li>
          <li><a class="nav-link scrollto" href="{% url 'accounts:logout' %}">Log Out</a></li>
          <li><img class="avatar" src={{ user.image.url }} alt="Avatar" width=54px ></li>
          {% else %}
          <li><a class="getstarted scrollto" href="{% url 'accounts:login' %}">Sign In/Up</a></li>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  {% block 'content' %}



  {% endblock 'content' %}

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Be aware of our news</p>
            <form action="{% url 'home:home' %}" method="post">
              {% csrf_token %}
              <input type="email" name="email"><input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-links">
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Shopifya</h3>
            <p>
              Elahiye St, Amir 2, Yas complex, Block A, 8th floor, No.29 <br>
              Arak<br>
              Iran <br><br>
              <strong>Phone:</strong> +98 0 918 6972 210<br>
              <strong>Email:</strong> hesam.ghadami2020@gmail.com <br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">



          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home:home' %}">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home:home' %}#about">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home:home' %}#contact">Contact us</a></li>
          </ul>
        </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Be aware of our news and contact Us by our social links</p>
            <div class="social-links mt-3">
              <a href="https://join.skype.com/invite/G7691x6eiaaz" class="google-plus"><i class="bx bxl-skype"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Shopifya</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Hesam-e-ddin Ghadami
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  {% compress js %}
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
 
  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  {% endcompress %}

</body>
