{% extends 'inherit/base.html' %}
{% load static %}
{% load compress %}
{% block 'title' %}G-details{% endblock 'title' %}
{% block 'content' %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'home:home'%}">Home</a></li>
          <li>Goods Details</li>
        </ol>
        <h2>Goods Details</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->

    
    <section id="portfolio-details" class="portfolio-details">
      
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src={{post.image1.url}} alt="">
                </div>

                <div class="swiper-slide">
                  <img src={{post.image2.url}} alt="">
                </div>

                <div class="swiper-slide">
                  <img src={{post.image3.url}} alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          
          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Stuff information</h3>
              <ul>
                {% for  cat in post.category.all %}
                <li><strong>Category</strong>: {{cat.name}}</li>
                {% endfor %}
                <li><strong>Client</strong>:{{post.client}} </li>
                <li><strong>Published date</strong>: {{post.published_date}}</li>
                <li><strong>Client website</strong>: <a href="{{post.client_url}}">{{post.client_url}}</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>{{post.title}}</h2>
              <p>
              {{post.content}}
              </p>
            </div>
          </div>
          

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% endblock 'content' %}